
<% include ./partials/header %>

<div class="container">
		<h1>ਸਾਧ ਸੰਗਤ ਜੀ</h1>
		<p> ਵਾਹਿਗੁਰੂ ਜੀ ਕਾ ਖਾਲਸਾ ਵਾਹਿਗੁਰੂ ਜੀ ਦੀ ਫਤਿਹ</p>
</div>
<div class="container">
	<div class="row">
      <div class="col-lg-12 col-sm-12">
        <div class="thumbnail">
          <img src="https://cdn1.foap.com/images/9512c377-e7b0-4a88-a5c9-8cdf583ae43e/w1920.jpg?1439606743">
        </div>
      </div>
	</div>
</div>

<% include ./partials/footer %>